// theme colors
$theme-gray: #e2e2e2;
$theme-white: #f8f8f8;
$theme-dark-purple: #0c0216;
$theme-red: #f63659;
$theme-green: #38c242;
$theme-gold: #ffba49;

// sizes
$navbar-height: 120px;

// global components
.vertical-column-header {
  margin-top: 305px;
}
